body{
    display: flexbox;
    font-family: 'Courgette', cursive;
    background-image: url(./img/backgroundimg3.png);
    color: #C0C0C0;
    text-align: justify;
    font-size: larger;
}
h2, h3{
   color: #0ea5a8   ;
   margin: 5px;
}

a{
    text-decoration: none;
    font-size: large;
}
.experiencias-profissionais{
    font-size: larger;
}
.data-inicio-kimi{
    padding-bottom:20px;
}
.estoquista{
    margin: 5px;
  
}

.operador-telemarketing{
    margin: 5px;
}
